@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-auth-bg: #f5f4f7;
  --color-primary: #7535fd;
  --color-secondary: #f5f4f7;
}

@font-face {
  font-family: "Saira-thin";
  src: url("/fonts/Saira/Saira-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Saira-light";
  src: url("/fonts/Saira/Saira-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Saira-regular";
  src: url("/fonts/Saira/Saira-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Saira-medium";
  src: url("/fonts/Saira/Saira-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Saira-bold";
  src: url("/fonts/Saira/Saira-Bold.ttf") format("truetype");
}

body {
  font-family: "Saira-regular", sans-serif !important;
}
